
<h1>WebGL: UI for Geometry task</h1>

<div #rendererContainer></div>

<table class="table-bordered">
  <thead>
    <tr>
      <td colspan="4"><h2>Cylinder parameters</h2></td>
    </tr>
    <tr>
      <th></th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <div class="form-group">
            <label>Bottom center point coordinates</label>
          </div>       
      </td>      
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="bottomX" [(ngModel)] = "cylinder.bottomCtr.X">
          </div>       
      </td>
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="bottomY" [(ngModel)] = "cylinder.bottomCtr.Y">
          </div>       
      </td>    
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="bottomZ" [(ngModel)] = "cylinder.bottomCtr.Z">
          </div>       
      </td>     
    </tr>
    <tr>
      <td>
          <div class="form-group">
            <label>Top center point coordinates</label>
          </div>       
      </td>      
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="topX" [(ngModel)] = "cylinder.topCtr.X">
          </div>       
      </td>
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="topY" [(ngModel)] = "cylinder.topCtr.Y">
          </div>       
      </td>    
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="topZ" [(ngModel)] = "cylinder.topCtr.Z">
          </div>       
      </td>     
    </tr>  
    <tr>
        <td>
            <div class="form-group">
              <label for="usr">Base Radius</label>
            </div>       
        </td>    
        <td>
            <div class="form-group">
              <label for="usr"></label>
              <input type="text" class="form-control" id="baseRadius" [(ngModel)] = "cylinder.baseRadius">
            </div>       
        </td>         
    </tr> 
    <tr>
      <td colspan="4"><h2>Test point coordinates</h2></td>
    </tr>    
    <tr>
      <td>
          <div class="form-group">
            <label></label>
          </div>       
      </td>      
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="testPtX" [(ngModel)] = "testpt.X">
          </div>       
      </td>    
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="testPtY" [(ngModel)] = "testpt.Y">
          </div>       
      </td>    
      <td>
          <div class="form-group">
            <label for="usr"></label>
            <input type="text" class="form-control" id="testPtZ" [(ngModel)] = "testpt.Z">
          </div>       
      </td>                
    </tr>    
  </tbody>
</table>

<div>
  <table>
    <tr>
      <td><button class="btn-default">Calculate Distance</button></td>
      <td><input type="text" class="form-control" id="caclDist" [(ngModel)] = "calcDist"></td>
    </tr>    
  </table>  
</div>